* {
    margin: o;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    padding: 0 110px;
    margin: 0 auto;
    background-color:white ;
  color: rgb(4, 14, 58);
background-image: cross-fade();

 .hero-1{
  border: 1px solid red;
  
 }
 .navlink-1{
  border: 1px solid red;
  display: flex;
  
 }
 .starter{
  border: 1px solid rgb(0, 41, 128);
 }
 .future{
border: 1px solid rgb(0, 41, 128);
 }
 .junior{
border: 1px solid rgb(0, 41, 128);
 }
   
    
  }